

<div id="calendarView">
    <div class="wrapper">
        <h1 class="text-center">Calendar</h1>
    </div>
</div>

<script type="text/javascript">
    var vueCalendar = new Vue({
        el: '#calendarView',
        data: {
            Teams: [],
            Team: {},
        },
        methods: {
           
        },
        created: function () {

        },
        mounted: function () {
            
        },
    });

</script>



