
<div id="calendarView">
    <h1 class="text-center">Calendar</h1>
    <div class="calendar">
        <div class="month">
            <ul>
                <li class="prev" v-on:click="Prev()" title="Previous month">&#10094;</li>
                <li class="next" v-on:click="Next()" title="Next month">&#10095;</li>
                <li>
                    <b>{{Season.monthName}}</b>  <br>
                    <span style="font-size:18px;"><b>{{Season.year}}</b></span>
                </li>
            </ul>
        </div>
        <ul class="weekdays">
            <li>Mo</li>
            <li>Tu</li>
            <li>We</li>
            <li>Th</li>
            <li>Fr</li>
            <li>Sa</li>
            <li>Su</li>
        </ul>
        <ul class="days">
            <li v-for="(value, index) in Days"><span :id="'sp' + index">{{value}}</span></li>
        </ul>
        <div class="text-center">
            <div class="nextday" v-on:click="NextDay()">Next Day</div>
        </div>
    </div>
</div>

<script type="text/javascript">
    var vueCalendar = new Vue({
        el: '#calendarView',
        data: {
            Days: [],
            SinglePlayer: {},
            Season: { year: 0, month: 0, day: 0, monthName: '' },
            MonthDays: 0,
            CurrentDay: 0,
            Index: 0,
            Flag: false
        },
        methods: {

            Prev: function () {
                this.Days = [];
                this.Season.month--;

                if (this.Season.month == 0) {
                    this.Season.year--;
                    this.Season.month = 12;
                }

                this.SetCalendarMonth(this.Season.year, this.Season.month);
            },

            Next: function () {
                this.Days = [];
                this.Season.month++;

                if (this.Season.month > 12) {
                    this.Season.year++;
                    this.Season.month = 1;
                }

                this.SetCalendarMonth(this.Season.year, this.Season.month);
            },

            NextDay: function () {

                if (this.Season.month == this.SinglePlayer.Month) {

                    this.Season.day++;
                    this.SinglePlayer.Day++;

                    if (this.CurrentDay == this.MonthDays) {

                        this.Flag = true;

                        if (this.Season.month == 12) {
                            this.SinglePlayer.Year++;
                            this.SinglePlayer.Month = 1;
                            this.SinglePlayer.Day = 1;
                        } else {
                            this.SinglePlayer.Month++;
                        }

                        var theDay = $('#sp' +this.Index.toString());
                        theDay.css('color', 'white');

                        this.Next();
                        this.CurrentDay = 1;

                    } else {
                        var theDay = $('#sp' + this.Index.toString());
                        theDay.css('color', 'white');

                        this.CurrentDay++;
                        this.Index++;

                        theDay = $('#sp' + this.Index.toString());
                        theDay.css('color', 'rgb(91, 192, 245)');
                    }
                }
                //this.DayIncrementation();
            },

            SetCalendarMonth: function (year, month) {

                // number of the first day of month
                const date = new Date(year, month - 1, 1);
                //var daysBefore = date.getDay() - 1;
                var daysBefore = date.getDay() - 1 < 0 ? 0 : date.getDay() - 1;

                for (var i = 0; i < daysBefore; i++) {
                    this.Days.push(' ');
                }

                // number of days in month
                this.MonthDays = new Date(year, month, 0).getDate();
                console.log('monthDay:', this.MonthDays);
                console.log('year:', year);
                for (var i = 1; i <= this.MonthDays; i++) {
                    this.Days.push(i);
                }

                const monthDate = new Date(year, month - 1, 1);
                const monthName = monthDate.toLocaleString('eng', { month: 'long' });
                this.Season.monthName = monthName;

                if (this.Flag) {

                    //if (daysBefore > 0) {
                    //    this.Index = daysBefore;
                    //} else {
                    //    this.Index = 0;
                    //}
                    this.Index = daysBefore;
                    this.Flag = false;
                }

                var theDay = $('#sp' + this.Index.toString());

                if (this.Season.month == this.SinglePlayer.Month) {
                    theDay.css('color', 'rgb(91, 192, 245)');
                } else {
                    theDay.css('color', 'white');
                }
            },

            FirstDay: function () {
                this.CurrentDay = new Date(this.Season.year, 0, this.Season.day + 1).getUTCDate()-1;

                const date = new Date(this.Season.year, this.Season.month - 1, 1);
                var daysBefore = date.getDay() - 1 < 0 ? 0 : date.getDay() - 1;

                this.Index = this.CurrentDay + daysBefore;
                this.CurrentDay++;

                var theDay = $('#sp' + this.Index.toString());
                theDay.css('color', 'rgb(91, 192, 245)');

            },

            SeasonInit: function () {
                this.Season.year = this.SinglePlayer.Year;
                this.Season.month = this.SinglePlayer.Month;
                this.Season.day = this.SinglePlayer.Day;
                this.SetCalendarMonth(this.Season.year, this.Season.month);
            },

            DayIncrementation: function () {

                var Provider = {}

                Provider.SinglePlayer = vueCalendar.SinglePlayer;
                Provider.Status = 4;

                   $.ajax(
                    {
                        url: "@Url.Action("UpdateDB", "SinglePlayer")",
                        type: "POST",
                        contentType: "application/json",
                        data: JSON.stringify({ provider: Provider }),
                        success: function (data) {
                            if (data != null) {

                            } else {
                                alert(data.ErrorMessage)
                            }
                        },
                        error: function () {
                            alert('Nieoczekiwany błąd');
                        }
                    })
            }
        },
        created: function () {
            this.SinglePlayer = vueSinglePlayer.SinglePlayer;
            this.SeasonInit();
        },
        mounted: function () {
            this.FirstDay();
        },
    });

</script>



