
<div id="calendarView">
    <h1 class="text-center">Calendar</h1>
    <div class="calendar">
        <div class="month">
            <ul>
                <li class="prev" v-on:click="Prev()" title="Previous month">&#10094;</li>
                <li class="next" v-on:click="Next()" title="Next month" >&#10095;</li>
                <li>
                    <b>{{Season.monthName}}</b>  <br>
                    <span style="font-size:18px;"><b>{{Season.year}}</b></span>
                </li>
            </ul>
        </div>
        <ul class="weekdays">
            <li>Mo</li>
            <li>Tu</li>
            <li>We</li>
            <li>Th</li>
            <li>Fr</li>
            <li>Sa</li>
            <li>Su</li>
        </ul>
        <ul class="days">
            <li v-for="(value, index) in Days"><span :id="'sp' + value">{{value}}</span></li>
        </ul>
        <div class="text-center">
            <div class="nextday" v-on:click="NextDay()" >Next Day</div>
        </div>
    </div>
</div>

<script type="text/javascript">
    var vueCalendar = new Vue({
        el: '#calendarView',
        data: {
            Days: [],
            SinglePlayer: {},
            Season: { year: 0, month: 0, day: 0, monthName: '' },
            DaysNumber: 0
        },
        methods: {

            Prev: function () {
                this.Days = [];
                this.Season.month--;

                if (this.Season.month == 0) {
                    this.Season.year--;
                    this.Season.month = 12;
                }
                this.SetCalendarMonth(this.Season.year, this.Season.month);


                //------
                const dateOfDay = new Date(this.Season.year, 0, this.Season.day);
                var theDay = $('#sp' + (dateOfDay.getDay() - 1).toString());

                console.log('d:', (dateOfDay.getDay() - 1).toString());

                if (this.Season.month != 9) {
                    theDay.css('color', 'white');
                } else {
                    theDay.css('color', 'red');
                }

                console.log(this.Season.month);
                console.log(this.SinglePlayer.Month);
            },

            Next: function () {
                this.Days = [];
                this.Season.month++;

                if (this.Season.month > 12) {
                    this.Season.year++;
                    this.Season.month = 1;
                }
                this.SetCalendarMonth(this.Season.year, this.Season.month);

                //------
                const dateOfDay = new Date(this.Season.year, 0, this.Season.day);
                var theDay = $('#sp' + (dateOfDay.getDay() - 1).toString());

                console.log('d:', (dateOfDay.getDay() - 1).toString());

                if (this.Season.month != 9) {
                    theDay.css('color', 'white');
                } else {
                    theDay.css('color', 'red');
                }

                console.log(this.Season.month);
                console.log(this.SinglePlayer.Month);
            },

            NextDay: function () {
               
                var numberOfDay = new Date(this.Season.year, 0, this.Season.day).getUTCDate() + 1;
                var theDay = $('#sp' + numberOfDay.toString());
                theDay.css('color', 'white');

              

                numberOfDay++;

                theDay = $('#sp' + numberOfDay.toString());
                theDay.css('color', 'red');

                this.Season.day++;
                console.log(this.Season.day);

                if (numberOfDay == this.DaysNumber + 1) {
                  
                    this.Next();
                }
            },

            SetCalendarMonth: function (year, month) {
                // number of the first day of month
                const date = new Date(year, month - 1, 1);
                var daysBefore = date.getDay() - 1;

                for (var i = 0; i < daysBefore; i++) {
                    this.Days.push('')
                }
                // number of days in month
                this.DaysNumber = new Date(year, month, 0).getDate();
                for (var i = 1; i <= this.DaysNumber; i++) {
                    this.Days.push(i);
                }
                // name of the month
                const monthDate = new Date(year, month - 1, 1); 
                const monthName = monthDate.toLocaleString('eng', { month: 'long' });
                this.Season.monthName = monthName;
            },

            SeasonInit: function () {
                this.Season.year = this.SinglePlayer.Year;
                this.Season.month = this.SinglePlayer.Month;
                this.Season.day = this.SinglePlayer.Day;
                this.SetCalendarMonth(this.Season.year, this.Season.month);

            },

            FirstDay: function () {
                const dateOfDay = new Date(this.Season.year, 0, this.Season.day);

                var theDay = $('#sp' + (dateOfDay.getDay() -1).toString());
                theDay.css('color', 'red');
            }
        },
        created: function () {
            this.SinglePlayer = vueSinglePlayer.SinglePlayer;
            this.SeasonInit(); 
        },
        mounted: function () {
            this.FirstDay();
        },
    });

</script>



