
<div id="matchBoardView" style="display: none">
    <div class="text-center">
        <h1>Week {{Season.week + 1}}</h1>
        <div class="container-board">
            <div class="row col-12">
                <div class="col-4 p-0" v-for="(value, index) in MatchWeek()">
                    <div class="pane pane-height p-0 pt-3">
                        <div class="row col-12">
                            <div class="text-right w-50">
                                {{ value.Item1.Name }} {{ value.Item1.City }}
                                <img v-bind:src="EmblemName(value.Item1.Name, value.Item1.City)" alt="Emblem" />
                            </div>
                            <div class="text-center w-10">vs</div>
                            <div class="text-left w-45">
                                <img v-bind:src="EmblemName(value.Item2.Name, value.Item2.City)" alt="Emblem" />
                                {{ value.Item2.Name }}  {{ value.Item2.City }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript">

    var vueMatchBoard = new Vue({
        el: '#matchBoardView',

        data: {
            Fixtures: [],
            Season: { year: 0, week: 0, month: 0, day: 0, firstMatchDay: 0, numberOfRestDays: 0, monthName: '' },
        },

        methods: {
            MatchWeek: function () {
                return this.Fixtures[this.Season.week];
            },

            EmblemName: function (name, city) {
                var fulName = name + city;
                fulName = fulName.replace(" ", "");
                return fulName = '/Content/Resources/Emblems/' + fulName + '.png';
            },
        },

        created: function () {
            this.Fixtures = vueCalendar.Fixtures;
            this.Season = vueCalendar.Season;
        },

        mounted: function () {
            $('#matchBoardView').show();
        }
    });

</script>
