

<div id="squadView" style="display: none">
    <div class="text-center center">
        <h1 class="text-center">Team Squad</h1>
        <div v-for="(value, index) in Team.Players">
          {{index + 1}}  {{value.Name}} {{value.Surname}}
        </div>
    </div>
</div>

<script type="text/javascript">
    var vueSquad = new Vue({
        el: '#squadView',
        data: {
            SinglePlayer: {},
            Team: {}
        },
        methods: {
          
        },
        created: function () {
            this.SinglePlayer = vueSinglePlayer.SinglePlayer;
            this.Team = vueSinglePlayer.Teams.find(t => t.TeamId == this.SinglePlayer.IdTeam);
            console.log(this.Team);
        },
        mounted: function () {
            $('#squadView').show();
        },
    });

</script>
