

<div id="statisticView">
    <div class="wrapper">
        <h1 class="text-center">Statistic</h1>
    </div>
</div>

<script type="text/javascript">
    var vueStatistic = new Vue({
        el: '#statisticView',
        data: {
            Teams: [],
            Team: {},
        },
        methods: {
           
        },
        created: function () {

        },
        mounted: function () {
           
        },
    });

</script>




