<div id="tableView">
    <div class="wrapper">
        <h1 class="text-center">Table</h1>
    </div>
</div>


<script type="text/javascript">
    var vueTable = new Vue({
        el: '#tableView',
        data: {
            Teams: [],
            Team: {},
        },
        methods: {
          
        },
        created: function () {

        },
        mounted: function () {

        },
    });

</script>