

<div id="trainingView">
    <div class="wrapper">
        <h1 class="text-center">Training</h1>
    </div>
</div>

<script type="text/javascript">
    var vueTraining = new Vue({
        el: '#trainingView',
        data: {
            Teams: [],
            Team: {},
        },
        methods: {
         
        },
        created: function () {

        },
        mounted: function () {
        
        },
    });

</script>

