<link href="~/Content/CSS/SinglePlayer.css" rel="stylesheet" />

<div id="singlePlayerView" class="site-settings">
    <div class="wrapper">
        <div class="aside">
            <nav class="mt-4">
                <a href="#">Team</a>
                <a href="#">Training</a>
                <a href="#">Finance</a>
                <a href="#">Next Day</a>
                <a href="#">Table</a>
                <a href="#">Statistic</a>
                <a href="#">Fixture</a>
                <a class="loadingModal" href="@Url.Action("Home", "Home")">Main Menu</a>
            </nav>
        </div>
        <div class="content"></div>
    </div>
   
</div>

<script src="~/Scripts/GlobalFunctions/Skills.js"></script>
<script>
     var vueSinglePlayer = new Vue({
                el: '#singlePlayerView',
                data: {
                    Teams: [],
                    Team: {},
                },
                methods: {
                    EmblemName: function (name, city) {
                        var fulName = name + city;
                        fulName = fulName.replace(" ", "");
                        return fulName = '/Content/Resources/Emblems/' + fulName + '.png';
                    },

                    FullName: function (name, city) {
                        var fulName = name + ' ' + city;
                        return fulName;
                    },

                    ShowStats: function (TeamId) {
                        this.Team = this.Teams.find(t => t.TeamId == TeamId);

                        TeamSkills(this.Team);
                        console.log(this.Team);
                    },

                    Selected: function (name, city) {
                        alert(name + ' ' + city);
                    },

                    SetPlayersAverageSkills: function () {
                        console.log(this.Team.Players.length);
                        for (var i = 0; i < this.Team.Players.length; i++) {
                            PlayerSkills(this.Team.Players[i]);
                        }
                    },

                    NationalityFlag: function (index) {
                        var src = '/Content/Resources/Flags/' + this.Team.Players[index].CountryName + '.png';
                        return src;
                    },

                    SkillsColor: function (value) {

                        if (value >= 95) {
                            return 'red';
                        } else if (value >= 90 && value < 95) {
                            return 'indianred';
                        } else if (value >= 80 && value < 90) {
                            return 'orange';
                        } else if (value >= 70 && value < 80) {
                            return 'lightgreen';
                        }
                        else {
                            return 'white';
                        }
                    },

                    ScrollOff: function () {
                        $("body").css("overflow", "hidden");
                        $("body").css("overflow-x", "hidden");
                        $("body").css("overflow-y", "hidden");
                    }
                },
                created: function () {
                    this.Teams =  @Html.Raw(Json.Encode(Model.Teams));
                    this.Team = this.Teams[0];
                },
                mounted: function () {
                    this.ScrollOff();
                    this.SetPlayersAverageSkills();
                },
            })
</script>

