<div id="optionsView" class="site-settings">
    <div class="mainPage">
        <nav>
            <a href="#" v-on:click="Home()">MAIN MENU</a>
            <a href="#" v-on:click="Reset()" :style="{display: Display() }">RESET SINGLE PLAYER MODE</a>
        </nav>
    </div>
</div>

<script type="text/javascript">

    var vueOptions = new Vue({
        el: '#optionsView',
        data: {
            Provider: {},
            Status: -1,
        },
        methods: {

            Display: function () {
                if (this.Status == 0) {
                    return 'none';
                } else {
                    return 'inline-block';
                }
            },

            Reset: function () {
                this.Provider.Status = 3;
                $.ajax({
                    url: "SetSinglePlayer/Home",
                    type: "POST",
                    contentType: "application/json",
                    data: JSON.stringify({ provider: this.Provider }),
                    cache: false,
                    success: function (data) {
                        if (data.ErrorMessage == '0') {
                            alert('Single player mode has been removed');
                            vueOptions.Status = 0;
                            vueHome.Status = 0;
                        } else if (data.ErrorMessage == '1') {
                            alert('Single player mode does not exist');
                        } else {
                            alert('error');
                        }
                    },
                    error: function () {
                        console.log('Error');
                    }
                });
            },
            Home: function () {
                $('#options').hide();
                $('#homeView').show();
                
            },
        },
        created: function () {
            this.Status =  @Html.Raw(Json.Encode(Model.Status));
        },
        mounted: function () {

        },
    });
</script>
