@{
    ViewBag.Title = "Home Page";
}

<div class="container body-container">
    <div class="jumbotron">
        <h1>Supreme League Managers </h1>
        <p>Online simulator of the football league composed of the best international teams</p>
        <p>
            <a href="https://www.youtube.com/watch?v=nWiD9ySL65M&t=5s" class="btn btn-primary btn-lg">Desktop Version &raquo;</a>
            <a href="TeamTest/TeamTest" class="btn btn-primary btn-lg">Team Test &raquo;</a>
        </p>

        <div>
            <img src="~/Content/Resources/Emblems/ArsenalLondon.png" width="50" height="50"/>
            <img src="~/Content/Resources/Emblems/AtleticoMadrid.png" width="50" height="50"/>
            <img src="~/Content/Resources/Emblems/BayernMunich.png" width="50" height="50"/>
            <img src="~/Content/Resources/Emblems/Schalke04Gelsenkirchen.png" width="50" height="50" />
            <img src="~/Content/Resources/Emblems/BenficaLisabona.png" width="50" height="50" />
            <img src="~/Content/Resources/Emblems/BorussiaDortmund.png" width="50" height="50" />
            <img src="~/Content/Resources/Emblems/ChelseaLondon.png" width="50" height="50" />
            <img src="~/Content/Resources/Emblems/FCBarcelona.png" width="50" height="50" />
            <img src="~/Content/Resources/Emblems/ManchesterUnited.png" width="50" height="50" />
            <img src="~/Content/Resources/Emblems/PSGParis.png" width="50" height="50" />
            <img src="~/Content/Resources/Emblems/RealMadrid.png" width="50" height="50" />
            <img src="~/Content/Resources/Emblems/ManchesterCity.png" width="50" height="50" />
            <img src="~/Content/Resources/Emblems/JuventusTorino.png" width="50" height="50" />
            <img src="~/Content/Resources/Emblems/FCPorto.png" width="50" height="50" />
            <img src="~/Content/Resources/Emblems/FCSevilla.png" width="50" height="50" />
            <img src="~/Content/Resources/Emblems/FCNapoli.png" width="50" height="50" />
        </div>
        <br />
        <img src="~/Content/Resources/Pictures/bernabeu.jpg" width="850" />
    </div>
</div>



