@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Supreme League Managers </h1>
    <p>Symulator online - ligi piłkarskiej złożonej z najlepszych europejskich drużyn</p>
    <p><a href="https://www.youtube.com/watch?v=nWiD9ySL65M&t=5s" class="btn btn-primary btn-lg">Wersja desktop &raquo;</a></p>
    <div>
        <img src="~/Content/Resources/Emblems/arsenal.png" width="50" height="50"/>
        <img src="~/Content/Resources/Emblems/atletico.png" width="50" height="50"/>
        <img src="~/Content/Resources/Emblems/barcelona.png" width="50" height="50"/>
        <img src="~/Content/Resources/Emblems/bayern.png" width="50" height="50"/>
        <img src="~/Content/Resources/Emblems/benfica.png" width="50" height="50"/>
        <img src="~/Content/Resources/Emblems/borussia.png" width="50" height="50"/>
        <img src="~/Content/Resources/Emblems/chelsea.png" width="50" height="50"/>
        <img src="~/Content/Resources/Emblems/juventus.png" width="50" height="50"/>
        <img src="~/Content/Resources/Emblems/manchester city.png" width="50" height="50"/>
        <img src="~/Content/Resources/Emblems/manu.png" width="50" height="50"/>
        <img src="~/Content/Resources/Emblems/napoli.png" width="50" height="50"/>
        <img src="~/Content/Resources/Emblems/porto.png" width="50" height="50"/>
        <img src="~/Content/Resources/Emblems/psg.png" width="50" height="50"/>
        <img src="~/Content/Resources/Emblems/real.png" width="50" height="50"/>
        <img src="~/Content/Resources/Emblems/schalke.png" width="50" height="50"/>
        <img src="~/Content/Resources/Emblems/sevilla.png" width="50" height="50" />
    </div>
    <br />
    <img src="~/Content/Resources/Pictures/bernabeu.jpg" width="850" />
</div>

