body {

}

.site-settings{
    min-height: 45em;
}

.standard-input{
    width: 40em;
    padding: 0.5em;
    margin-top: 0.5em;
    border: 1px solid black;
    border-radius: 5px;
}

.standard-btn{
    margin-top: 0.5em;
    border: 1px solid black;
    border-radius: 5px;
}

.standard-frame {
    border: 1px solid black;
    border-radius: 5px;
    padding: 1em;
    margin-top: 5em;
    margin-left: 24em;
    margin-right: 24em;
    background-color: white;
    opacity: 0.8
}