
.site-settings {
    min-height: 45em;
}

.mainPage {
    width: 100%;
    margin-top: 5%;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    position: relative;
}

nav {
    width: 80%;
    margin: 0 auto;
    margin-top: .5em;
}

    nav a {
        width: 25%;
        margin: 0 auto;
        margin-top: .2em;
        padding: 1.3em;
        text-align: center;
        display: block;
        border: 1px solid white;
        border-radius: 5px;
        text-decoration: none;
        color: #fff;
        background-color: rgba(0,0,0,.3);
        font-weight: bold;
    }

        nav a:hover {
            text-decoration: none;
            color: #0695c9;
            border-color: #0695c9;
            cursor: pointer
        }


.single-container {
    text-align: center;
    width: 1400px;
    margin: 0 auto;
}

.pane {
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    border-radius: 5px 5px;
    background: rgba(52, 58, 64, .3);
}


.team-container {
    display: inline-block;
    width: 100%
}

.container-size {
    margin-top: 5em;
    width: 33%;
    min-height: 40em;
}

.midle-container {
    float: left;
    width: 30%;
}

.frame {
    margin-top: 5em;
    min-height: 40em;
    margin-left: 3px;
    margin-right: 3px;
  
}

.left-container {
    float: left;
    width: 35%;
}

    .left-container .players {
        font-size: 14px;
        margin-left: auto;
        margin-right: auto;
        width: 60%
    }

        .left-container .players img {
            padding-bottom: 4px;
            width: 18px;
            height: 18px;
        }

.right-container {
    float: right;
    width: 35%;
}

.midle-container nav button {
    border: 1px solid white;
    border-radius: 5px;
    color: white;
    background-color: rgba(255,255,255, 0);
    padding: 5px 5px;
    margin-right: 3px;
    margin-bottom: 3px;
    transition: transform .1s, border-color .1s, color .1s;
}

    .midle-container nav button:hover {
        color: #0695c9;
        border-color: #0695c9;
        cursor: pointer
    }

    .midle-container nav button img {
        width: 85px;
        height: 85px;
    }

.blue-color {
    color: #0695c9;
}
