.site-settings {
    min-height: 40em;
}

.mainPage {
    width: 1600px;
    margin-top: 12em;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    position: relative;
}

nav {
    margin-top: 3em;
}

    nav div {
        margin-top: 2.8em;
    }

    nav a {
        /*display: inline-block;*/
        padding: 20px 80px;
        border: 1px solid white;
        border-radius: 5px;
        text-decoration: none;
        color: #fff;
        background-color: rgba(0,0,0,.3);
        font-weight: bold;
    }

        nav a:hover {
            text-decoration: none;
            color: #0695c9;
            border-color: #0695c9;
            cursor: pointer
        }


