body {
    margin: 0px;
    padding: 0px;
    background-image: url('/Content/Resources/Backgrounds/black cubs.jpg');
    color: white;
}

.navbar-main{
    height: 3.5em;
    width: 100%;

    background-color: black;
    color: white;

    padding: 0.25em 2em 0em 2em;
}
