.container-board {
    margin: auto 3%;
    font-size: 14px;
}

.container-board img {
   width: 20px;
   height: 20px;
}

.pane-height {
    height: 15em;
    margin: 1px;
}

.simulate {
    margin-top:1px;
    font-size: 18px;
    font-weight: bold;
}
    .simulate:hover {
        color: rgb(91, 192, 245);
        border: 1px solid rgb(91, 192, 245);
        cursor: pointer;
    }

.scorers {
    margin-top: 0.2em;
    font-size: 12px;
    line-height: 120%
}

.assistants {
    font-size: 11px;
}


.w-10 {
    width: 10%;
}

.w-40 {
    width: 45%;
}
