
.site-settings {
    min-height: 56em;
}

.wrapper {
    margin: 0 1% 1% 1%;
}

.wrapper-small {
    margin: 0 40% 1% 40%;
}

.center {
    margin: 0 25% 0 25%;
}

.aside {
    float: left;
    width: 7%;
    min-height: 55em;
}

.content {
    float: left;
    width: 93%;
    min-height: 55em;
}

nav a {
    padding: 30% 0 30% 0;
    text-align: center;
    display: block;
    width: 100%;
    color: #fff;
    border: 1px solid white;
    border-bottom: 1px solid rgba(255, 255, 255, 0);
    border-top: 1px solid rgba(255, 255, 255, 0);
    text-decoration: none;
    background-color: rgba(0,0,0,.3);
    font-weight: bold;
}

nav a:hover {
    text-decoration: none;
    color: #0695c9 !important;
    cursor: pointer;
}

.clicked {
    border-color: #0695c9;
    border-right: none;
    
}

.table-standing {
    background: rgba(0,0,0,.3);
    cursor: pointer;
}

.table-standing img {
    width: 25px;
    height: 25px;
}

.font-24{
    font-size: 24px
}


.fixture-nav a {
    font-size: 60px;
}

    .fixture-nav a:hover {
        cursor: pointer;
        text-decoration: none;
        color: #0695c9 !important;
    }

.table-fixture img {
    width: 32px;
    height: 32px;
}

