<link href="~/Content/CSS/TeamManagement.css" rel="stylesheet" />
    <table class="table table-dark table-striped table-sm ml-3 scroll" id="squadTable" style="width: 25%; float:left; background: rgba(0,0,0,.3);cursor: pointer;">
        <thead style="font-size:13px">
            <tr>
                <th colspan="10" class="text-center">
                    <div style="display: inline-block; float:left"><img v-bind:src="TeamEmblem()" width="50" height="50" /></div>
                    <div style="display: inline-block;"><div style="font-size:25px">{{ TeamFullName() }}</div></div>
                    <div style="display: inline-block; float:right"><img v-bind:src="TeamEmblem()" width="50" height="50" /></div>
                </th>
            </tr>
            <tr class="text-center">
                <th style="width: 2%"></th>
                <th style="width: 30%">Name</th>
                <th style="width: 8%">Flag</th>
                <th style="width: 8%">Pos</th>
                <th style="width: 8%">Age</th>
                <th style="width: 8%">App</th>
                <th style="width: 8%">Gls</th>
                <th style="width: 8%">Skl</th>
                <th style="width: 8%">Dyn</th>
                <th style="width: 13%">Stamina</th>
            </tr>
        </thead>
        <tbody id="squadBody" style="font-size:13px">
            <tr class="text-center align-middle" v-on:mouseover="ShowPlayerSkils(index)" v-for="(player, index) in Players" v-on:click="ChangePlayer(index)">
                <td style="width: 2%">
                    <label class="container">
                        <input type="checkbox" v-model="player.Selected" />
                        <span class="checkmark"></span>
                    </label>
                </td>
                <td class="text-left" style="width: 30%">{{ player.Name}} {{player.Surname}} </td>
                <td style="width: 8%"><img v-bind:src="NationalityFlag(index)" width="24" height="24" /></td>
                <td style="width: 8%">{{ player.PositionShort}}</td>
                <td style="width: 8%">{{ player.Age }}</td>
                <td style="width: 8%"></td>
                <td style="width: 8%"></td>
                <td style="width: 8%">{{player.AverageSkills}}</td>
                <td style="width: 8%"></td>
                <td class="text-center align-midle" style="width: 13%">
                    <div class="progress progress-transparent">
                        <div v-bind:class="ProgressBarColor(player.Stamina)" :style="{width: player.Stamina + '%'}" v-html="ProgressText(player.Stamina)"></div>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>

