@model SupremeLeagueManager.Models.TeamTest.TeamManagementVM

<div id="managementView">
    <div class="col-md-12 mt-3">
        <div class="text-center">
            <div>
                <a class="btn btn-outline-info" href="@Url.Action("Admin", "Admin")">Admin</a>
                <button v-for="team in Teams" v-bind:title="FullName(team.Name, team.City)" class="btn btn-outline-info mr-1" v-on:click="ShowTeamSquad(team.TeamId)">
                    <img v-bind:src="EmblemName(team.Name, team.City)" width="50" height="50" alt="Emblem" />
                </button>
                <button v-on:click="ShowFixture()" class="btn btn-outline-info mr-1"> Fixture </button>
            </div>
        </div>
        <div class="row mt-lg-5 justify-content-center" id="stadium">
            <div class="text-center">
                <div>
                    <img src="~/Content/Resources/Stadiums/bernabeu.png" width="800" height="600" />
                </div>
            </div>
        </div>
        <div id="fixture">
            @Html.Partial("_Fixture")
        </div>
    </div>
</div>

<div>
    <div id="teamManagement" style="display:none">
        @Html.Partial("_TeamManagement")
    </div>
</div>

<script type="text/javascript">
  
    var vueTeamsManagement = new Vue({
        el: '#managementView',
        data: {
            Teams: [],
            Provider: {},
        },

        methods: {
            EmblemName: function (name, city) {
                var fulName = name + city;
                fulName = fulName.replace(" ", "");
                return fulName = '/Content/Resources/Emblems/' + fulName + '.png';
            },

            FullName: function (name, city) {
                var fulName = name + ' ' + city;
                return fulName;
            },

            ShowTeamSquad: function (teamId) {

                this.Provider.TeamId = teamId;
                this.Provider.Status = 1;

                $.ajax(
                    {
                        url: "_TeamManagement/TeamManagement",
                        type: "POST",
                        contentType: "application/json",
                        data: JSON.stringify({ provider: this.Provider }),
                        success: function () {

                        },
                        error: function () {
                            alert('Nieoczekiwany błąd');
                        }
                    })
                    .done(function (partialViewResult) {
                        $("#stadium").hide(300);
                        $("#teamManagement").show(300);
                        $("#teamManagement").html(partialViewResult);
                    });
            },

            ShowFixture: function () {
                $.ajax(
                    {
                        url: "_Fixture/TeamManagement",
                        type: "POST",
                        contentType: "application/json",
                        success: function () {

                        },
                        error: function () {
                            alert('Nieoczekiwany błąd');
                        }
                    })
                    .done(function (partialViewResult) {
                        $("#fixture").html(partialViewResult);
                        $('#fixturesModal').modal('show');
                    });
            }
        },

        computed: {

        },

        mounted() {
            this.Teams =  @Html.Raw(Json.Encode(Model.Teams));
        }

    })
</script>
