
<div class="logo">
    <a href="@Url.Action("Home", "Home")">CLICK TO START</a>
</div>


<script type="text/javascript">
    $("body").css("overflow", "hidden");
    $("body").css("overflow-x", "hidden");
    $("body").css("overflow-y", "hidden");
</script>
