
<table class="table table-bordered table-striped table-sm ml-2" id="playerSkillsTable" style="width:12%; float:left">
    <thead>
        <tr>
            <th colspan="2"><img style="visibility:hidden" src="~/Content/Resources/Emblems/@Model.Team.GetEmblemsName()" width="50" height="50" /></th>
        </tr>
    </thead>
    <tbody style="font-size:13px">
        <tr>
            <td style="width:60%">Name</td>
            <td class="text-center" id="nameForSkillsTable"></td>
        </tr>
        <tr>
            <td>Surname</td>
            <td class="text-center" id="surnameForSkillsTable"></td>
        </tr>
        <tr>
            <td>Position</td>
            <td class="text-center" id="positionForSkillsTable"></td>
        </tr>
        <tr>
            <td>Nationality</td>
            <td class="text-center" id="nationalityForSkillsTable"><img id="flag" src="~/Content/Resources/Emblems/@Model." width="24" height="24" /></td>
        </tr>
        <tr>
            <td>Age</td>
            <td class="text-center" id="ageForSkillsTable"></td>
        </tr>
        <tr>
            <td>GoalKepper</td>
            <td class="text-center" id="goalkeeperSkillsTable"></td>
        </tr>
        <tr>
            <td>Defence</td>
            <td class="text-center" id="defenceForSkillsTable"></td>
        </tr>
        <tr>
            <td>Midfield</td>
            <td class="text-center" id="midfieldForSkillsTable"></td>
        </tr>
        <tr>
            <td>Attack</td>
            <td class="text-center" id="attackForSkillsTable"></td>
        </tr>
        <tr>
            <td>Diving</td>
            <td class="text-center" id="divingForSkillsTable"></td>
        </tr>
        <tr>
            <td>Handling</td>
            <td class="text-center" id="handlingForSkillsTable"></td>
        </tr>
        <tr>
            <td>Tackling</td>
            <td class="text-center" id="tacklingForSkillsTable"></td>
        </tr>
        <tr>
            <td>Covering</td>
            <td class="text-center" id="coveringForSkillsTable"></td>
        </tr>
        <tr>
            <td>L.P. Accuracy</td>
            <td class="text-center" id="LPForSkillsTable"></td>
        </tr>
        <tr>
            <td>S.P. Accuracy</td>
            <td class="text-center" id="SPForSkillsTable"></td>
        </tr>
        <tr>
            <td>Shot Accuracy</td>
            <td class="text-center" id="shotForSkillsTable"></td>
        </tr>
        <tr>
            <td>Speed</td>
            <td class="text-center" id="speedForSkillsTable"></td>
        </tr>
        <tr>
            <td>Acceleration</td>
            <td class="text-center" id="accelerationForSkillsTable"></td>
        </tr>
        <tr>
            <td>Reflex</td>
            <td class="text-center" id="reflexForSkillsTable"></td>
        </tr>
        <tr>
            <td>Heading</td>
            <td class="text-center" id="headingForSkillsTable"></td>
        </tr>
        <tr>
            <td>Shot Power</td>
            <td class="text-center" id="shotPowerForSkillsTable"></td>
        </tr>
        <tr>
            <td>Technique</td>
            <td class="text-center" id="techniqueForSkillsTable"></td>
        </tr>
        <tr>
            <td>Endurance</td>
            <td class="text-center" id="enduranceForSkillsTable"></td>
        </tr>
        <tr>
            <td>Stamina</td>
            <td class="text-center" id="staminaForSkillsTable" style="color:forestgreen"></td>
        </tr>
        <tr>
            <td>Avg. Skills / Dyn.</td>
            <td class="text-center"><span id="avgSkillsForSkillsTable"></span> / <span id="avgDynSkillsForSkillsTable"></span>&nbsp; &nbsp;<span id="avgDiffForSkillsTable"></span></td>
        </tr>
    </tbody>
</table>


