
<table class="table table-bordered table-striped table-sm ml-2" id="playerSkillsTable" style="width:10%; float:left">
    <thead>
        <tr>
            <th colspan="2"><img style="visibility:hidden" src="~/Content/Resources/Emblems/@Model.Team.GetEmblemsName()" width="50" height="50" /></th>
        </tr>
    </thead>
    <tbody>

        <tr>
            <td style="width:50%">Name</td>
            <td class="text-center" id="nameForSkillsTable"></td>
        </tr>
        <tr>
            <td>Surname</td>
            <td class="text-center" id="surnameForSkillsTable"></td>
        </tr>
        <tr>
            <td>Position</td>
            <td class="text-center" id="positionForSkillsTable"></td>
        </tr>
        <tr>
            <td>Nationality</td>
            <td class="text-center" id="nationalityForSkillsTable"><img id="flag" src="" width="24" height="24" /></td>
        </tr>
        <tr>
            <td>Age</td>
            <td class="text-center" id="ageForSkillsTable"></td>
        </tr>
        <tr>
            <td>GoalKepper</td>
            <td class="text-center" id="goalkeeperSkillsTable"></td>
        </tr>
        <tr>
            <td>Defence</td>
            <td class="text-center" id="defenceForSkillsTable"></td>
        </tr>
        <tr>
            <td>Midfield</td>
            <td class="text-center" id="midfieldForSkillsTable"></td>
        </tr>
        <tr>
            <td>Attack</td>
            <td class="text-center" id="attackForSkillsTable"></td>
        </tr>
    </tbody>
</table>

