@model SupremeLeagueManager.Models.FriendlyMatch.FriendlyMatchVM

<div id="matchArenaView">
    <div style="min-height: 35em;">
        <div class="row mt-1 pt-3 text-center" style="width:100%">
            <div class="col-3" id="homeComment"></div>
            <div class="col pane pt-3">
                <img v-bind:src="HomeTeamEmblemMatch()" width="128" height="128" />
                <div class="col mt-3" style="font-size: 32px">{{ HomeTeam.Name }} {{ HomeTeam.City }}</div>
                <div> {{ HomeTeam.Overall }} </div>
            </div>

            <div class="col pane">
                <p class="mb-1" style="font-family: 'Cambria Math', sans-serif; font-size: 96px;">{{ MatchStatistics.Counter }}</p>
                <div class="row text-center">
                    <div class="col" style="font-size: 32px">0</div>
                    <div class="col" style="font-size: 32px" id="versus">Vs</div>
                    <div class="col" style="font-size: 32px">0</div>
                </div>
            </div>
            <div class="col pane pt-3">
                <img v-bind:src="AwayTeamEmblemMatch()" width="128" height="128" />
                <div class="col mt-3" style="font-size: 32px">{{ AwayTeam.Name }} {{AwayTeam.City }}</div>
                <div> {{ AwayTeam.Overall }} </div>
            </div>
            <div class="col-3" id="awayComment"></div>
        </div>
        <div class="row text-center" style="width:100%">
            <div class="col-3"></div>
            <div class="col pane mt-1 mr-1" style="min-height: 30em;"></div>
            <div class="col pane mt-1 mr-1" style="min-height: 30em;">
                <div class="mt-4 mb-1">Shots</div>
                <div class="row text-center aligne-midle">
                    <div style="width: 10%; font-size: 18px">{{ MatchStatistics.HomeShots }}</div>
                    <div class="progress mt-1" style="width: 80%; background-color: blue">
                        <div class="progress-bar bg-success" role="progressbar" :style="{width: MatchStatistics.ProgressBarShot + '%'}" aria-valuenow="35" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <div style="width: 10%; font-size: 18px" >{{ MatchStatistics.AwayShots }}</div>
                </div>
                <div class="mt-1 mb-1">On Target</div>
                <div class="row text-center aligne-midle">
                    <div style="width: 10%; font-size: 18px">{{ MatchStatistics.HomeShotsOnTarget }}</div>
                    <div class="progress mt-1" style="width: 80%; background-color: blue">
                        <div class="progress-bar bg-success" role="progressbar" style="width: 50%" aria-valuenow="35" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <div style="width: 10%; font-size: 18px">{{ MatchStatistics.AwayShotsOnTarget }}</div>
                </div>
                <div class="mt-1 mb-1">Off Target</div>
                <div class="row text-center aligne-midle">
                    <div style="width: 10%; font-size: 18px">{{ MatchStatistics.HomeShotsOffTarget }}</div>
                    <div class="progress mt-1" style="width: 80%; background-color: blue">
                        <div class="progress-bar bg-success" role="progressbar" style="width: 50%" aria-valuenow="35" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <div style="width: 10%; font-size: 18px">{{ MatchStatistics.AwayShotsOffTarget }}</div>
                </div>
                <div class="mt-1 mb-1">Pressing</div>
                <div class="row text-center aligne-midle">
                    <div style="width: 10%; font-size: 18px">50</div>
                    <div class="progress mt-1" style="width: 80%; background-color: blue">
                        <div class="progress-bar bg-success" role="progressbar" style="width: 50%" aria-valuenow="35" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <div style="width: 10%; font-size: 18px">50</div>
                </div>
                <div class="mt-1 mb-1">Possession</div>
                <div class="row text-center aligne-midle">
                    <div style="width: 10%; font-size: 18px">50</div>
                    <div class="progress mt-1" style="width: 80%; background-color: blue">
                        <div class="progress-bar bg-success" role="progressbar" style="width: 50%" aria-valuenow="35" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <div style="width: 10%; font-size: 18px">50</div>
                </div>
                <div class="mt-1 mb-1">Fouls</div>
                <div class="row text-center aligne-midle">
                    <div style="width: 10%; font-size: 18px">0</div>
                    <div class="progress mt-1" style="width: 80%; background-color: blue">
                        <div class="progress-bar bg-success" role="progressbar" style="width: 50%" aria-valuenow="35" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <div style="width: 10%; font-size: 18px">0</div>
                </div>
                <div class="col text-center aligne-midle mt-4">
                    <div class="btn btn-outline-danger" id="startMatch" v-on:click="StartMatch()">Start Match</div>
                    <div class="btn btn-outline-danger" id="pauseMatch" v-on:click="PauseMatch()" style="display: none">Pause Match</div>
                </div>
            </div>
            <div class="col pane mt-1" style="min-height: 20em;"></div>
            <div class="col-3"></div>
        </div>
    </div>
</div>

<div id="commentHome" class="comment">
    <div><span id="homeMinute"></span> minuta meczu</div>
    <div> Na bramkę strzela <span id="homePlayer"></span> </div>
</div>
<div id="commentAway" class="comment">
    <div><span id="awayMinute"></span> minuta meczu</div>
    <div> Na bramkę strzela <span id="awayPlayer"></span> </div>
</div>


@*<script type="text/javascript">

    var vueMatchArena = new Vue({

        el: '#matchArenaView',
        data: {
            HomeTeam: {},
            AwayTeam: {},
            Counter: 0,
            MatchLength: 0,
            IntervalId: null,
        },

        methods: {

            HomeTeamEmblemMatch: function () {
                var src = '/Content/Resources/Emblems/' + this.HomeTeam.Name + this.HomeTeam.City + '.png';
                src = src.replace(" ", "");
                return src;
            },

            AwayTeamEmblemMatch: function () {
                var src = '/Content/Resources/Emblems/' + this.AwayTeam.Name + this.AwayTeam.City + '.png';
                src = src.replace(" ", "");
                return src;
            },

            StartMatch: function () {
                this.IntervalId = setInterval(this.CounterStart, 100);
            },

            PauseMatch: function () {
                clearInterval(this.IntervalId);
            },

            CounterStart: function () {
                this.Counter++;
                if (this.Counter == MatchLength) {
                    this.PauseMatch();
                } else if (this.Counter == (MatchLength / 2).toFixed(0)) {
                    this.PauseMatch();
                }
            },

            RandomMatchLength: function () {
                MatchLength = Math.floor(Math.random() * 6) + 90
            }
        },


        created: function () {
            this.HomeTeam = @Html.Raw(Json.Encode(Model.HomeTeam));
            this.AwayTeam = @Html.Raw(Json.Encode(Model.AwayTeam));

            this.RandomMatchLength();

            //console.log('ddd',this.HomeTeam);
            //console.log('ccc',this.AwayTeam);
        },

        beforeMount() {

        },

        mounted() {


        }
    })
</script>*@






