@model SupremeLeagueManager.Models.FriendlyMatch.FriendlyMatchVM

<link href="~/Content/CSS/TeamManagement.css" rel="stylesheet" />


<div class="container col-12">
    <div style="width: 100%; display: inline-block">
        <div style="width:25%; float: left;">
            <table class="table table-dark table-striped table-sm ml-3 scroll" id="squadTable" style="background: rgba(0,0,0,.3);cursor: pointer;">
                <thead style="font-size:13px">
                    <tr>
                        <th colspan="10" class="text-center">
                            <div style="display: inline-block; float:left"><img v-bind:src="UserTeamEmblem()" width="50" height="50" /></div>
                            <div style="display: inline-block;"><div style="font-size:25px">{{ UserTeamFullName() }}</div></div>
                            <div style="display: inline-block; float:right"><img v-bind:src="UserTeamEmblem()" width="50" height="50" /></div>
                        </th>
                    </tr>
                    <tr class="text-center">
                        <th style="width: 2%"></th>
                        <th style="width: 30%">Name</th>
                        <th style="width: 8%">Flag</th>
                        <th style="width: 8%">Pos</th>
                        <th style="width: 8%">Age</th>
                        <th style="width: 8%">App</th>
                        <th style="width: 8%">Gls</th>
                        <th style="width: 8%">Skl</th>
                        <th style="width: 8%">Dyn</th>
                        <th style="width: 13%">Stamina</th>
                    </tr>
                </thead>
                <tbody id="squadBody" style="font-size:13px">
                    <tr class="text-center align-middle" v-on:mouseover="ShowPlayerSkills(index)" v-for="(player, index) in HomeTeam.Players" v-on:click="ChangePlayer(index)">
                        <td style="width: 2%">
                            <label class="container">
                                <input type="checkbox" v-model="player.Selected" />
                                <span class="checkmark"></span>
                            </label>
                        </td>
                        <td class="text-left" style="width: 30%">{{ player.Name}} {{player.Surname}} </td>
                        <td style="width: 8%"><img v-bind:src="NationalityFlag(index)" width="24" height="24" /></td>
                        <td style="width: 8%">{{ player.PositionShort}}</td>
                        <td style="width: 8%">{{ player.Age }}</td>
                        <td style="width: 8%">{{ player.Appearances}}</td>
                        <td style="width: 8%">{{ player.Goals }}</td>
                        <td style="width: 8%">{{ player.AverageSkills }}</td>
                        <td style="width: 8%">{{ player.AverageDynamicSkills }} </td>
                        <td class="text-center align-midle" style="width: 13%">
                            <div class="progress progress-transparent">
                                <div v-bind:class="ProgressBarColor(player.Stamina)" :style="{width: player.Stamina + '%'}" v-html="ProgressText(player.Stamina)"></div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="ml-3" style="width:14%; float:left">
            <table class="table table-dark table-striped  table-hover table-sm ml-2" id="playerSkillsTable" style="background: rgba(0,0,0, .3)">
                <thead>
                    <tr>
                        <th colspan="2"><img style="visibility:hidden" v-bind:src="TeamEmblem()" width="50" height="50" /></th>
                    </tr>
                </thead>
                <tbody style="font-size:13px">
                    <tr>
                        <td style="width:70%">Name</td>
                        <td style="width:30%" class="text-center" id="nameForSkillsTable">{{ Player.Name }}</td>

                    </tr>
                    <tr>
                        <td>Surname</td>
                        <td class="text-center" id="surnameForSkillsTable">{{ Player.Surname }}</td>
                    </tr>
                    <tr>
                        <td>Position</td>
                        <td class="text-center" id="positionForSkillsTable">{{ Player.PositionShort }}</td>
                    </tr>
                    <tr>
                        <td>Nationality</td>
                        <td class="text-center"><img id="flag" v-bind:src="CountryFlag(Player.CountryName)" width="24" height="24" /></td>
                    </tr>
                    <tr>
                        <td>Age</td>
                        <td class="text-center" id="ageForSkillsTable" style="font-weight: 700">{{ Player.Age }}</td>
                    </tr>
                    <tr>
                        <td>GoalKeeper</td>
                        <td class="text-center" id="goalkeeperSkillsTable" v-bind:style="{ color: SkillsColor(Player.GoalKeeper), fontWeight: 700}">{{ Player.GoalKeeper }}</td>
                    </tr>
                    <tr>
                        <td>Defence</td>
                        <td class="text-center" id="defenceForSkillsTable" v-bind:style="{ color: SkillsColor(Player.Defence), fontWeight: 700}">{{ Player.Defence }}</td>
                    </tr>
                    <tr>
                        <td>Midfield</td>
                        <td class="text-center" id="midfieldForSkillsTable" v-bind:style="{ color: SkillsColor(Player.Midfield), fontWeight: 700}">{{ Player.Midfield }}</td>
                    </tr>
                    <tr>
                        <td>Attack</td>
                        <td class="text-center" id="attackForSkillsTable" v-bind:style="{ color: SkillsColor(Player.Attack), fontWeight: 700}">{{ Player.Attack }}</td>
                    </tr>
                    <tr>
                        <td>Diving</td>
                        <td class="text-center" id="divingForSkillsTable" v-bind:style="{ color: SkillsColor(Player.Diving), fontWeight: 700}">{{ Player.Diving }}</td>
                    </tr>
                    <tr>
                        <td>Handling</td>
                        <td class="text-center" id="handlingForSkillsTable" v-bind:style="{ color: SkillsColor(Player.Handling), fontWeight: 700}">{{ Player.Handling }}</td>
                    </tr>
                    <tr>
                        <td>Tackling</td>
                        <td class="text-center" id="tacklingForSkillsTable" v-bind:style="{ color: SkillsColor(Player.Tackling), fontWeight: 700}">{{ Player.Tackling }}</td>
                    </tr>
                    <tr>
                        <td>Covering</td>
                        <td class="text-center" id="coveringForSkillsTable" v-bind:style="{ color: SkillsColor(Player.Covering), fontWeight: 700}">{{ Player.Covering }}</td>
                    </tr>
                    <tr>
                        <td>L.P. Accuracy</td>
                        <td class="text-center" id="LPForSkillsTable" v-bind:style="{ color: SkillsColor(Player.LongPassAccuracy), fontWeight: 700}">{{ Player.LongPassAccuracy }}</td>
                    </tr>
                    <tr>
                        <td>S.P. Accuracy</td>
                        <td class="text-center" id="SPForSkillsTable" v-bind:style="{ color: SkillsColor(Player.ShortPassAccuracy), fontWeight: 700}">{{ Player.ShortPassAccuracy }}</td>
                    </tr>
                    <tr>
                        <td>Shot Accuracy</td>
                        <td class="text-center" id="shotForSkillsTable" v-bind:style="{ color: SkillsColor(Player.ShotAccuracy), fontWeight: 700}">{{ Player.ShotAccuracy }}</td>
                    </tr>
                    <tr>
                        <td>Speed</td>
                        <td class="text-center" id="speedForSkillsTable" v-bind:style="{ color: SkillsColor(Player.Speed), fontWeight: 700}">{{ Player.Speed }}</td>
                    </tr>
                    <tr>
                        <td>Acceleration</td>
                        <td class="text-center" id="accelerationForSkillsTable" v-bind:style="{ color: SkillsColor(Player.Acceleration), fontWeight: 700}">{{ Player.Acceleration }}</td>
                    </tr>
                    <tr>
                        <td>Reflex</td>
                        <td class="text-center" id="reflexForSkillsTable" v-bind:style="{ color: SkillsColor(Player.Reflex), fontWeight: 700}">{{ Player.Reflex }}</td>
                    </tr>
                    <tr>
                        <td>Heading</td>
                        <td class="text-center" id="headingForSkillsTable" v-bind:style="{ color: SkillsColor(Player.Heading), fontWeight: 700}">{{ Player.Heading }}</td>
                    </tr>
                    <tr>
                        <td>Shot Power</td>
                        <td class="text-center" id="shotPowerForSkillsTable" v-bind:style="{ color: SkillsColor(Player.ShotPower), fontWeight: 700}">{{ Player.ShotPower }}</td>
                    </tr>
                    <tr>
                        <td>Technique</td>
                        <td class="text-center" id="techniqueForSkillsTable" v-bind:style="{ color: SkillsColor(Player.Technique), fontWeight: 700}">{{ Player.Technique }}</td>
                    </tr>
                    <tr>
                        <td>Endurance</td>
                        <td class="text-center" id="enduranceForSkillsTable" v-bind:style="{ color: SkillsColor(Player.Endurance), fontWeight: 700}">{{ Player.Endurance }}</td>
                    </tr>
                    @*<tr>
                        <td>Stamina</td>
                        <td class="text-center" id="staminaForSkillsTable" style="color:forestgreen">{{ Player.Stamina }}</td>
                    </tr>*@
                    <tr>
                        <td>Avg. Skills / Dyn./ Ener.</td>
                        <td class="text-center">
                            <span id="avgSkillsForSkillsTable" v-bind:style="{ color: SkillsColor(Player.AverageSkills), fontWeight: 700}">{{ Player.AverageSkills }}</span> /
                            <span id="avgDynSkillsForSkillsTable" v-bind:style="{ color: SkillsColor(Player.AverageDynamicSkills), fontWeight: 700}">{{ Player.AverageDynamicSkills }}</span>/
                            <span id="avgDynEnerSkillsForSkillsTable" v-bind:style="{ color: SkillsColor(Player.AverageDynamicEnergySkills), fontWeight: 700}">{{ Player.AverageDynamicEnergySkills }}</span> &nbsp; &nbsp;
                            <span id="avgDiffForSkillsTable"> {{ Player.SkillDifference }}</span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="ml-2" style="width:10%; float:left;">
            <table class="table table-dark table-striped table-sm ml-2" style="background: rgba(0,0,0, .3)">
                <thead>
                    <tr>
                        <th colspan="2"><img style="visibility:hidden" v-bind:src="TeamEmblem()" width="50" height="50" /></th>
                    </tr>
                </thead>
                <tbody style="font-size:13px">
                    <tr>
                        <td>Goalkeeper</td>
                        <td class="text-center">{{ HomeTeam.GoalKeeper }}</td>
                    </tr>
                    <tr>
                        <td>Defence</td>
                        <td class="text-center">{{ HomeTeam.Defence }}</td>
                    </tr>
                    <tr>
                        <td>Midfield</td>
                        <td class="text-center">{{ HomeTeam.Midfield }}</td>
                    </tr>
                    <tr>
                        <td>Attack</td>
                        <td class="text-center">{{ HomeTeam.Attack}}</td>
                    </tr>
                    <tr>
                        <td>Speed</td>
                        <td class="text-center">{{ HomeTeam.Speed }}</td>
                    </tr>
                    <tr>
                        <td>Technique</td>
                        <td class="text-center">{{ HomeTeam.Technique }}</td>
                    </tr>
                    <tr>
                        <td>Overall</td>
                        <td class="text-center text-danger"> {{ HomeTeam.Overall }}</td>
                    </tr>
                    <tr>
                        <td>Overall Energy</td>
                        <td class="text-center text-danger"> {{ HomeTeam.OverallEnergy }}</td>
                    </tr>
                </tbody>
            </table>

        </div>
        <div class="ml-2 mr-2" style="width:14%; float:left">
            <div class="pane ml-2" style="width: 100%">
                <img id="playerPhoto" v-bind:src="GetPlayerPhoto()" width="250" height="295" />
            </div>
            <div class="pane ml-2 mt-2" style="width:100%">
                <div class="d-flex justify-content-start">
                    <div class="p-1" style="width: 7em;">
                        <b>Pressing</b>
                    </div>
                    <div class="p-1" style="width: 15em;">
                        <vue-slider ref="slider" v-model="SliderObject.Pressing" v-bind="SliderOption" style="padding-top: 0.6em; width: 95%;"></vue-slider>
                    </div>
                </div>
                <div class="d-flex justify-content-start">
                    <div class="p-1" style="width: 7em;">
                        <b>Attack</b>
                    </div>
                    <div class="p-1" style="width: 15em;">
                        <vue-slider ref="slider" v-model="SliderObject.Attack" v-bind="SliderOption" style="padding-top: 0.6em; width: 95%;"></vue-slider>
                    </div>
                </div>
                <div class="d-flex justify-content-start">
                    <div class="p-1" style="width: 7em;">
                        <b>Aggression</b>
                    </div>
                    <div class="p-1" style="width: 15em;">
                        <vue-slider ref="slider" v-model="SliderObject.Aggression" v-bind="SliderOption" style="padding-top: 0.6em; width: 95%;"></vue-slider>
                    </div>
                </div>
            </div>
        </div>
       
        <div>
            @*442*@
            <div v-bind:class="{unavilable: F442}">
                <div class="pane ml-2" style="font-size:12px;">
                    <div style="width:550px; height: 550px;">
                        <div class="row col-md-7" style="margin-left:auto; margin-right:auto;">
                            <div class="mt-4" style="width:50%; float:left">
                                <img v-bind:src="TShirtsPng()" width="50" height="60" /><br />
                                <label class="mb-0" v-html="GetPlayerName(9)" v-bind:style="{ color: HighlightPlayer(9)}"></label><br />
                                <label style="color:red" v-bind:class="HighlightPlayer()">CF <span v-html="GetPlayerDynamicSkills(9)"></span></label>
                            </div>
                            <div class="mt-4" style="width:50%; float:left">
                                <img v-bind:src="TShirtsPng()" width="50" height="60" /><br />
                                <label class="mb-0" v-html="GetPlayerName(10)" v-bind:style="{ color: HighlightPlayer(10)}"></label><br />
                                <label style="color:red">CF <span v-html="GetPlayerDynamicSkills(10)"></span></label>
                            </div>
                        </div>
                        <div class="row col-md-13" style="margin-left:auto; margin-right:auto">
                            <div class="mt-4" style="width:25%; float:left">
                                <img v-bind:src="TShirtsPng()" width="50" height="60" /><br />
                                <label class="mb-0" v-html="GetPlayerName(5)" v-bind:style="{ color: HighlightPlayer(5)}"></label><br />
                                <label style="color:dodgerblue">LM <span v-html="GetPlayerDynamicSkills(5)"></span></label>
                            </div>
                            <div class="mt-4" style="width:25%; float:left">
                                <img class="mt-3" v-bind:src="TShirtsPng()" width="50" height="60" /><br />
                                <label class="mb-0" v-html="GetPlayerName(6)" v-bind:style="{ color: HighlightPlayer(6)}"></label><br />
                                <label style="color:dodgerblue">DM <span v-html="GetPlayerDynamicSkills(6)"></span></label>
                            </div>
                            <div class="mt-4" style="width:25%; float:left">
                                <img class="mt-3" v-bind:src="TShirtsPng()" width="50" height="60" /><br />
                                <label class="mb-0" v-html="GetPlayerName(7)" v-bind:style="{ color: HighlightPlayer(7)}"></label><br />
                                <label style="color:dodgerblue">CM <span v-html="GetPlayerDynamicSkills(7)"></span></label>
                            </div>
                            <div class="mt-4" style="width:25%; float:left">
                                <img v-bind:src="TShirtsPng()" width="50" height="60" /><br />
                                <label class="mb-0" v-html="GetPlayerName(8)" v-bind:style="{ color: HighlightPlayer(8)}"></label><br />
                                <label style="color:dodgerblue">RM <span v-html="GetPlayerDynamicSkills(8)"></span></label>
                            </div>
                        </div>
                        <div class="row col-md-13">
                            <div class="mt-4" style="width:25%; float:left;">
                                <img v-bind:src="TShirtsPng()" width="50" height="60" /><br />
                                <label class="mb-0" v-html="GetPlayerName(1)" v-bind:style="{ color: HighlightPlayer(1)}"></label><br />
                                <label style="color:greenyellow">LB <span v-html="GetPlayerDynamicSkills(1)"></span></label>
                            </div>
                            <div class="mt-4" style="width:25%; float:left">
                                <img class="mt-3" v-bind:src="TShirtsPng()" width="50" height="60" /><br />
                                <label class="mb-0" v-html="GetPlayerName(2)" v-bind:style="{ color: HighlightPlayer(2)}"></label><br />
                                <label style="color:greenyellow">CB <span v-html="GetPlayerDynamicSkills(2)"></span></label>
                            </div>
                            <div class="mt-4" style="width:25%; float:left">
                                <img class="mt-3" v-bind:src="TShirtsPng()" width="50" height="60" /><br />
                                <label class="mb-0" v-html="GetPlayerName(3)" v-bind:style="{ color: HighlightPlayer(3)}"></label><br />
                                <label style="color:greenyellow">CB <span v-html="GetPlayerDynamicSkills(3)"></span></label>
                            </div>
                            <div class="mt-4" style="width:25%; float:right">
                                <img v-bind:src="TShirtsPng()" width="50" height="60" /><br />
                                <label class="mb-0" v-html="GetPlayerName(4)" v-bind:style="{ color: HighlightPlayer(4)}"></label><br />
                                <label style="color:greenyellow">RB <span v-html="GetPlayerDynamicSkills(4)"></span></label>
                            </div>
                        </div>
                        <div class="row col-md-13">
                            <div class="mt-1" style="width:100%">
                                <img v-bind:src="TShirtsPng()" width="50" height="60" /><br />
                                <label class="mb-0" v-html="GetPlayerName(0)" v-bind:style="{ color: HighlightPlayer(0)}"></label><br />
                                <label style="color:yellow">GK <span v-html="GetPlayerDynamicSkills(0)"></span></label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            @*443*@
            <div v-bind:class="{unavilable: F433}">
                <div class="pane ml-2" style="font-size:12px;" v-if="Formation">
                    <div style="width: 550px; height: 550px;">
                        <div class="row col-md-11" style="margin-left:auto; margin-right:auto;">
                            <div class="mt-4" style="width:33%; float:left">
                                <img v-bind:src="TShirtsPng()" width="50" height="60" /><br />
                                <label class="mb-0" v-html="GetPlayerName(8)" v-bind:style="{ color: HighlightPlayer(8)}"></label><br />
                                <label style="color:red">LW <span v-html="GetPlayerDynamicSkills(8)"></span></label>
                            </div>
                            <div class="mt-3" style="width:33%; float:left">
                                <img v-bind:src="TShirtsPng()" width="50" height="60" /><br />
                                <label class="mb-0" v-html="GetPlayerName(9)" v-bind:style="{ color: HighlightPlayer(9)}"></label><br />
                                <label style="color:red">CF <span v-html="GetPlayerDynamicSkills(9)"></span></label>
                            </div>
                            <div class="mt-4" style="width:33%; float:left">
                                <img v-bind:src="TShirtsPng()" width="50" height="60" /><br />
                                <label class="mb-0" v-html="GetPlayerName(10)" v-bind:style="{ color: HighlightPlayer(10)}"></label><br />
                                <label style="color:red">RW <span v-html="GetPlayerDynamicSkills(10)"></span></label>
                            </div>
                        </div>
                        <div class="row col-md-9" style="margin-left:auto; margin-right:auto;">
                            <div class="mt-4" style="width:33%; float:left">
                                <img v-bind:src="TShirtsPng()" width="50" height="60" /><br />
                                <label class="mb-0" v-html="GetPlayerName(5)" v-bind:style="{ color: HighlightPlayer(5)}"></label><br />
                                <label style="color:dodgerblue">CM <span v-html="GetPlayerDynamicSkills(5)"></span></label>
                            </div>
                            <div class="mt-5" style="width:33%; float:left">
                                <img v-bind:src="TShirtsPng()" width="50" height="60" /><br />
                                <label class="mb-0" v-html="GetPlayerName(6)" v-bind:style="{ color: HighlightPlayer(6)}"></label><br />
                                <label style="color:dodgerblue">DM <span v-html="GetPlayerDynamicSkills(6)"></span></label>
                            </div>
                            <div class="mt-4" style="width:33%; float:left">
                                <img v-bind:src="TShirtsPng()" width="50" height="60" /><br />
                                <label class="mb-0" v-html="GetPlayerName(7)" v-bind:style="{ color: HighlightPlayer(7)}"></label><br />
                                <label style="color:dodgerblue">CM <span v-html="GetPlayerDynamicSkills(7)"></span></label>
                            </div>
                        </div>
                        <div class="row col-md-13">
                            <div class="mt-3" style="width:25%; float:left;">
                                <img v-bind:src="TShirtsPng()" width="50" height="60" /><br />
                                <label class="mb-0" v-html="GetPlayerName(1)" v-bind:style="{ color: HighlightPlayer(1)}"></label><br />
                                <label style="color:greenyellow">LB <span v-html="GetPlayerDynamicSkills(1)"></span></label>
                            </div>
                            <div class="mt-3" style="width:25%; float:left">
                                <img class="mt-3" v-bind:src="TShirtsPng()" width="50" height="60" /><br />
                                <label class="mb-0" v-html="GetPlayerName(2)" v-bind:style="{ color: HighlightPlayer(2)}"></label><br />
                                <label style="color:greenyellow">CB <span v-html="GetPlayerDynamicSkills(2)"></span></label>
                            </div>
                            <div class="mt-3" style="width:25%; float:left">
                                <img class="mt-3" v-bind:src="TShirtsPng()" width="50" height="60" /><br />
                                <label class="mb-0" v-html="GetPlayerName(3)" v-bind:style="{ color: HighlightPlayer(3)}"></label><br />
                                <label style="color:greenyellow">CB <span v-html="GetPlayerDynamicSkills(3)"></span></label>
                            </div>
                            <div class="mt-3" style="width:25%; float:right">
                                <img v-bind:src="TShirtsPng()" width="50" height="60" /><br />
                                <label class="mb-0" v-html="GetPlayerName(4)" v-bind:style="{ color: HighlightPlayer(4)}"></label><br />
                                <label style="color:greenyellow">RB <span v-html="GetPlayerDynamicSkills(4)"></span></label>
                            </div>
                        </div>
                        <div class="row col-md-13">
                            <div class="mt-1" style="width:100%">
                                <img v-bind:src="TShirtsPng()" width="50" height="60" /><br />
                                <label class="mb-0" v-html="GetPlayerName(0)" v-bind:style="{ color: HighlightPlayer(0)}"></label><br />
                                <label style="color:yellow">GK <span v-html="GetPlayerDynamicSkills(0)"></span></label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            @*451*@
            <div v-bind:class="{unavilable: F451}">
                <div class="pane ml-2" style="font-size:12px;" v-if="Formation">
                    <div style="width:550px; height: 550px;">
                        <div class="row col-md-3" style="margin-left:auto; margin-right:auto;">
                            <div class="mt-4" style="width:100%; float:left">
                                <img v-bind:src="TShirtsPng()" width="50" height="60" /><br />
                                <label class="mb-0" v-html="GetPlayerName(10)" v-bind:style="{ color: HighlightPlayer(10)}"></label><br />
                                <label style="color:red">CF <span v-html="GetPlayerDynamicSkills(10)"></span></label>
                            </div>
                        </div>
                        <div class="row col-md-13" style="margin-left:auto; margin-right:auto;">
                            <div class="mt-1" style="width:20%; float:left">
                                <img v-bind:src="TShirtsPng()" width="50" height="60" /><br />
                                <label class="mb-0" v-html="GetPlayerName(5)" v-bind:style="{ color: HighlightPlayer(5)}"></label><br />
                                <label style="color:dodgerblue">LM <span v-html="GetPlayerDynamicSkills(5)"></span></label>
                            </div>
                            <div class="mt-4" style="width:20%; float:left">
                                <img v-bind:src="TShirtsPng()" width="50" height="60" /><br />
                                <label class="mb-0" v-html="GetPlayerName(6)" v-bind:style="{ color: HighlightPlayer(6)}"></label><br />
                                <label style="color:dodgerblue">CM <span v-html="GetPlayerDynamicSkills(6)"></span></label>
                            </div>
                            <div class="mt-5" style="width:20%; float:left">
                                <img v-bind:src="TShirtsPng()" width="50" height="60" /><br />
                                <label class="mb-0" v-html="GetPlayerName(7)" v-bind:style="{ color: HighlightPlayer(7)}"></label><br />
                                <label style="color:dodgerblue">DM <span v-html="GetPlayerDynamicSkills(7)"></span></label>
                            </div>
                            <div class="mt-4" style="width:20%; float:left">
                                <img v-bind:src="TShirtsPng()" width="50" height="60" /><br />
                                <label class="mb-0" v-html="GetPlayerName(8)" v-bind:style="{ color: HighlightPlayer(8)}"></label><br />
                                <label style="color:dodgerblue">CM <span v-html="GetPlayerDynamicSkills(8)"></span></label>
                            </div>
                            <div class="mt-1" style="width:20%; float:left">
                                <img v-bind:src="TShirtsPng()" width="50" height="60" /><br />
                                <label class="mb-0" v-html="GetPlayerName(9)" v-bind:style="{ color: HighlightPlayer(9)}"></label><br />
                                <label style="color:dodgerblue">RM <span v-html="GetPlayerDynamicSkills(9)"></span></label>
                            </div>
                        </div>
                        <div class="row col-md-13">
                            <div class="mt-3" style="width:25%; float:left;">
                                <img v-bind:src="TShirtsPng()" width="50" height="60" /><br />
                                <label class="mb-0" v-html="GetPlayerName(1)" v-bind:style="{ color: HighlightPlayer(1)}"></label><br />
                                <label style="color:greenyellow">LB <span v-html="GetPlayerDynamicSkills(1)"></span></label>
                            </div>
                            <div class="mt-3" style="width:25%; float:left">
                                <img class="mt-3" v-bind:src="TShirtsPng()" width="50" height="60" /><br />
                                <label class="mb-0" v-html="GetPlayerName(2)" v-bind:style="{ color: HighlightPlayer(2)}"></label><br />
                                <label style="color:greenyellow">CB <span v-html="GetPlayerDynamicSkills(2)"></span></label>
                            </div>
                            <div class="mt-3" style="width:25%; float:left">
                                <img class="mt-3" v-bind:src="TShirtsPng()" width="50" height="60" /><br />
                                <label class="mb-0" v-html="GetPlayerName(3)" v-bind:style="{ color: HighlightPlayer(3)}"></label><br />
                                <label style="color:greenyellow">CB <span v-html="GetPlayerDynamicSkills(3)"></span></label>
                            </div>
                            <div class="mt-3" style="width:25%; float:right">
                                <img v-bind:src="TShirtsPng()" width="50" height="60" /><br />
                                <label class="mb-0" v-html="GetPlayerName(4)" v-bind:style="{ color: HighlightPlayer(4)}"></label><br />
                                <label style="color:greenyellow">RB <span v-html="GetPlayerDynamicSkills(4)"></span></label>
                            </div>
                        </div>
                        <div class="row col-md-13">
                            <div class="mt-1" style="width:100%">
                                <img v-bind:src="TShirtsPng()" width="50" height="60" /><br />
                                <label class="mb-0" v-html="GetPlayerName(0)" v-bind:style="{ color: HighlightPlayer(0)}"></label><br />
                                <label style="color:yellow">GK <span v-html="GetPlayerDynamicSkills(0)"></span></label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            @*352*@
            <div v-bind:class="{unavilable: F352}">
                <div class="pane ml-2" style="font-size:12px;" v-if="Formation">
                    <div style="width:550px; height: 550px;">
                        <div class="row col-md-7" style="margin-left:auto; margin-right:auto;">
                            <div class="mt-4" style="width:50%; float:left">
                                <img v-bind:src="TShirtsPng()" width="50" height="60" /><br />
                                <label class="mb-0" v-html="GetPlayerName(9)" v-bind:style="{ color: HighlightPlayer(9)}"></label><br />
                                <label style="color:red" v-bind:class="HighlightPlayer()">CF <span v-html="GetPlayerDynamicSkills(9)"></span></label>
                            </div>
                            <div class="mt-4" style="width:50%; float:left">
                                <img v-bind:src="TShirtsPng()" width="50" height="60" /><br />
                                <label class="mb-0" v-html="GetPlayerName(10)" v-bind:style="{ color: HighlightPlayer(10)}"></label><br />
                                <label style="color:red" v-bind:class="HighlightPlayer()">CF <span v-html="GetPlayerDynamicSkills(10)"></span></label>
                            </div>
                        </div>
                        <div class="row col-md-13" style="margin-left:auto; margin-right:auto;">
                            <div class="mt-1" style="width:20%; float:left">
                                <img v-bind:src="TShirtsPng()" width="50" height="60" /><br />
                                <label class="mb-0" v-html="GetPlayerName(5)" v-bind:style="{ color: HighlightPlayer(5)}"></label><br />
                                <label style="color:dodgerblue">LM <span v-html="GetPlayerDynamicSkills(5)"></span></label>
                            </div>
                            <div class="mt-4" style="width:20%; float:left">
                                <img v-bind:src="TShirtsPng()" width="50" height="60" /><br />
                                <label class="mb-0" v-html="GetPlayerName(6)" v-bind:style="{ color: HighlightPlayer(6)}"></label><br />
                                <label style="color:dodgerblue">CM <span v-html="GetPlayerDynamicSkills(6)"></span></label>
                            </div>
                            <div class="mt-5" style="width:20%; float:left">
                                <img v-bind:src="TShirtsPng()" width="50" height="60" /><br />
                                <label class="mb-0" v-html="GetPlayerName(7)" v-bind:style="{ color: HighlightPlayer(7)}"></label><br />
                                <label style="color:dodgerblue">DM <span v-html="GetPlayerDynamicSkills(7)"></span></label>
                            </div>
                            <div class="mt-4" style="width:20%; float:left">
                                <img v-bind:src="TShirtsPng()" width="50" height="60" /><br />
                                <label class="mb-0" v-html="GetPlayerName(8)" v-bind:style="{ color: HighlightPlayer(8)}"></label><br />
                                <label style="color:dodgerblue">CM <span v-html="GetPlayerDynamicSkills(8)"></span></label>
                            </div>
                            <div class="mt-1" style="width:20%; float:left">
                                <img v-bind:src="TShirtsPng()" width="50" height="60" /><br />
                                <label class="mb-0" v-html="GetPlayerName(9)" v-bind:style="{ color: HighlightPlayer(9)}"></label><br />
                                <label style="color:dodgerblue">RM <span v-html="GetPlayerDynamicSkills(9)"></span></label>
                            </div>
                        </div>
                        <div class="row col-md-9" style="margin-left:auto; margin-right:auto;">
                            <div class="mt-3" style="width:33%; float:left;">
                                <img class="mt-3" v-bind:src="TShirtsPng()" width="50" height="60" /><br />
                                <label class="mb-0" v-html="GetPlayerName(1)" v-bind:style="{ color: HighlightPlayer(1)}"></label><br />
                                <label style="color:greenyellow">CB <span v-html="GetPlayerDynamicSkills(1)"></span></label>
                            </div>
                            <div class="mt-3" style="width:33%; float:left">
                                <img class="mt-3" v-bind:src="TShirtsPng()" width="50" height="60" /><br />
                                <label class="mb-0" v-html="GetPlayerName(2)" v-bind:style="{ color: HighlightPlayer(2)}"></label><br />
                                <label style="color:greenyellow">CB <span v-html="GetPlayerDynamicSkills(2)"></span></label>
                            </div>
                            <div class="mt-3" style="width:33%; float:left">
                                <img class="mt-3" v-bind:src="TShirtsPng()" width="50" height="60" /><br />
                                <label class="mb-0" v-html="GetPlayerName(3)" v-bind:style="{ color: HighlightPlayer(3)}"></label><br />
                                <label style="color:greenyellow">CB <span v-html="GetPlayerDynamicSkills(3)"></span></label>
                            </div>

                        </div>
                        <div class="row col-md-13">
                            <div class="mt-1" style="width:100%">
                                <img v-bind:src="TShirtsPng()" width="50" height="60" /><br />
                                <label class="mb-0" v-html="GetPlayerName(0)" v-bind:style="{ color: HighlightPlayer(0)}"></label><br />
                                <label style="color:yellow">GK <span v-html="GetPlayerDynamicSkills(0)"></span></label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="dashboard">
            <div><button class="btn btn-info" id="442" v-on:click="FormationChange(1)">4-4-2</button></div>
            <div><button class="btn btn-info mt-1" id="433" v-on:click="FormationChange(2)">4-3-3</button></div>
            <div><button class="btn btn-info mt-1" id="451" v-on:click="FormationChange(3)">4-5-1</button></div>
            <div><button class="btn btn-info mt-1" id="352" v-on:click="FormationChange(4)">3-5-2</button></div>
        </div>
    </div>

   
</div>


@*<script src="~/Scripts/GlobalFunctions/Skills.js"></script>
<script type="text/javascript">

    var vueApp = new Vue({
        el: '#squadSelection',
        data: {
            Player: {},
            HomeTeam: {},
            Selected: [],
            PlayerPhotoIndex: 0
        },

        methods: {

            UserTeamFullName: function () {
                var fulname = this.HomeTeam.Name + this.HomeTeam.City;
                fulname = fulname.replace(" ", "");
                return fulname;
            },

            UserTeamEmblem: function () {
                var fulname = this.HomeTeam.Name + this.HomeTeam.City;
                fulname = fulname.replace(" ", "");
                console.log(this.HomeTeam.Name);
                return fulname = '/Content/Resources/Emblems/' + fulname + '.png';
            },

            NationalityFlag: function (index) {
                var src = '/Content/Resources/Flags/' + this.HomeTeam.Players[index].CountryName + '.png';
                return src;
            },

            ProgressBarColor: function (stamina) {

                if (stamina >= 80) {
                    return 'progress-bar progress-bar-striped progress-bar-animated bg-success';
                } else if (stamina < 80 && stamina >= 40) {
                    return 'progress-bar progress-bar-striped progress-bar-animated bg-warning';
                } else if (stamina < 40) {
                    return 'progress-bar progress-bar-striped progress-bar-animated bg-danger';
                }
            },

            ProgressText: function (stamina) {
                if (stamina < 40) {
                    return '';
                } else {
                    return stamina + '%';
                }
            },

            HoverRow: function () {
                $('#squadBody tr').hover(
                    function () {
                        this.beforeHover = $(this).css('background-color');
                        $(this).css('background', 'rgba(200, 187, 201, 0.3)');
                    },
                    function () {
                        $(this).css('background', this.beforeHover)

                    });
            },

            ShowPlayerSkills: function (index) {
                this.Player = this.HomeTeam.Players[index];
                this.PlayerPhotoIndex = index;

            },

            ChangePlayer: function (index) {

                // if clicked the same player again remove from array
                if (this.Selected.includes(index)) {
                    const arrayIndex = this.Selected.indexOf(index);
                    if (arrayIndex > -1) {
                        this.Selected.splice(arrayIndex, 1);
                        this.HomeTeam.Players[index].Selected = false
                    }
                } else { // else add second player to swap
                    this.Selected.push(index);
                    this.HomeTeam.Players[index].Selected = true;
                }
                // if array contains 2 player swap them
                if (this.Selected.length == 2) {

                    // players position in table squadTable of _TeamSqad.cshtml (the same value like field L.P of [SLM].[dbo].[dictTeamsPlayers] )
                    var playerOne = this.Selected.shift();
                    var playerTwo = this.Selected.shift();

                    // swap indexPosition L.P.
                    var indexPositionPlayerTmp = this.HomeTeam.Players[playerOne].IndexPosition
                    this.HomeTeam.Players[playerOne].IndexPosition = this.HomeTeam.Players[playerTwo].IndexPosition;
                    this.HomeTeam.Players[playerTwo].IndexPosition = indexPositionPlayerTmp;

                    // swap players position
                    var PlayerTmp = this.HomeTeam.Players[playerOne];
                    this.HomeTeam.Players[playerOne] = this.HomeTeam.Players[playerTwo];
                    this.HomeTeam.Players[playerTwo] = PlayerTmp;

                    // restore inputs checbox to unchecked
                    this.HomeTeam.Players[playerOne].Selected = false;
                    this.HomeTeam.Players[playerTwo].Selected = false;

                    //this.SetPlayerDynamicSkills();
                    //this.SetTeamSkills();
                    //this.SetPlayersAverageSkills();

                    // send changes to DB
                    //this.SwapPlayer(this.Team.Players[playerOne], this.Team.Players[playerTwo]);
                }
            },

            created: function () {
                this.HomeTeam = @Html.Raw(Json.Encode(Model.HomeTeam));

                console.log(this.HomeTeam)
            },

            mounted: function () {

            }

        }

    });

</script>*@
