

<div class="row mt-5" style="min-height: 20em">
    <div class="col">
        <div id="carouselExampleIndicatorsHome" class="carousel slide" data-ride="carousel" data-interval="false">
            <div class="carousel-inner text-center">
                <div class="carousel-item active" alt="first slide" v-on:click="ShowSquad()">
                    <img v-bind:src="HomeTeamEmblem(0)" width="256" height="256" />
                </div>
                <div class="carousel-item" alt="first slide" v-for="(team, index) in HomeTeams" v-if="index">
                    <img v-bind:src="HomeTeamEmblem(index)" width="256" height="256" />
                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicatorsHome" role="button" data-slide="prev" v-on:click="HomePreviousTeam()">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicatorsHome" role="button" data-slide="next" v-on:click="HomeNextTeam()">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
    <div class="col text-center" style="height: 10em;">
        <h3 style="margin-top: 5em;">Vs</h3>
    </div>
    <div class="col">
        <div id="carouselExampleIndicatorsAway" class="carousel slide" data-ride="carousel" data-interval="false">
            <div class="carousel-inner text-center">
                <div class="carousel-item active" alt="first slide">
                    <img v-bind:src="AwayTeamEmblem(0)" width="256" height="256" />
                </div>

                <div class="carousel-item" alt="first slide" v-for="(team, index) in AwayTeams" v-if="index">
                    <img v-bind:src="AwayTeamEmblem(index)" width="256" height="256" />
                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicatorsAway" role="button" data-slide="prev" v-on:click="AwayPreviousTeam()">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicatorsAway" role="button" data-slide="next" v-on:click="AwayNextTeam()">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
</div>
<div class="row mt-5" style="min-height: 20em">
    <div class="col text-right">
        <div class="row">
            <div class="mr-1" style="width: 15%; font-size: 16px">Goalie</div>
            <div class="progress progress-tr mt-1" style="width: 70%; background-color: rgba(255, 255, 255, 0.1)">
                <div class="progress-bar bg-info" :style="{width: HomeTeam.GoalKeeper + '%'}"></div>
            </div>
            <div class="ml-1" style="font-size: 16px">{{HomeTeam.GoalKeeper}}</div>
        </div>
        <div class="row">
            <div class="mr-1" style="width: 15%; font-size: 16px">Defence</div>
            <div class="progress  mt-1" style="width: 70%; background-color: rgba(255, 255, 255, 0.1)">
                <div class="progress-bar bg-info" :style="{width: HomeTeam.Defence + '%'}"></div>
            </div>
            <div class="ml-1" style="font-size: 16px">{{HomeTeam.Defence}}</div>
        </div>
        <div class="row">
            <div class="mr-1" style="width: 15%; font-size: 16px">Midfield</div>
            <div class="progress  mt-1" style="width: 70%; background-color: rgba(255, 255, 255, 0.1)">
                <div class="progress-bar bg-info" :style="{width: HomeTeam.Midfield + '%'}"></div>
            </div>
            <div class="ml-1" style="font-size: 16px">{{HomeTeam.Midfield}}</div>
        </div>
        <div class="row">
            <div class="mr-1" style="width: 15%; font-size: 16px">Attack</div>
            <div class="progress  mt-1" style="width: 70%; background-color: rgba(255, 255, 255, 0.1">
                <div class="progress-bar bg-info" :style="{width: HomeTeam.Attack + '%'}"></div>
            </div>
            <div class="ml-1" style="font-size: 16px">{{HomeTeam.Attack}}</div>
        </div>
        <div class="row">
            <div class="mr-1" style="width: 15%; font-size: 16px">Overall</div>
            <div class="progress  mt-1" style="width: 70%; background-color: rgba(255, 255, 255, 0.1)">
                <div class="progress-bar bg-info" :style="{width: HomeTeam.Overall + '%'}"></div>
            </div>
            <div class="ml-1" style="font-size: 16px">{{HomeTeam.Overall}}</div>
        </div>
    </div>
    <div class="col text-center"></div>
    <div class="col text-right">
        <div class="row">
            <div class="mr-1" style="width: 15%; font-size: 16px">Goalie</div>
            <div class="progress progress-tr mt-1" style="width: 70%; background-color: rgba(255, 255, 255, 0.1)">
                <div class="progress-bar bg-info" :style="{width: AwayTeam.GoalKeeper + '%'}"></div>
            </div>
            <div class="ml-1" style="font-size: 16px">{{AwayTeam.GoalKeeper}}</div>
        </div>
        <div class="row">
            <div class="mr-1" style="width: 15%; font-size: 16px">Defence</div>
            <div class="progress  mt-1" style="width: 70%; background-color: rgba(255, 255, 255, 0.1)">
                <div class="progress-bar bg-info" :style="{width: AwayTeam.Defence + '%'}"></div>
            </div>
            <div class="ml-1" style="font-size: 16px">{{AwayTeam.Defence}}</div>
        </div>
        <div class="row">
            <div class="mr-1" style="width: 15%; font-size: 16px">Midfield</div>
            <div class="progress  mt-1" style="width: 70%; background-color: rgba(255, 255, 255, 0.1)">
                <div class="progress-bar bg-info" :style="{width: AwayTeam.Midfield + '%'}"></div>
            </div>
            <div class="ml-1" style="font-size: 16px">{{AwayTeam.Midfield}}</div>
        </div>
        <div class="row">
            <div class="mr-1" style="width: 15%; font-size: 16px">Attack</div>
            <div class="progress  mt-1" style="width: 70%; background-color: rgba(255, 255, 255, 0.1">
                <div class="progress-bar bg-info" :style="{width: AwayTeam.Attack + '%'}"></div>
            </div>
            <div class="ml-1" style="font-size: 16px">{{AwayTeam.Attack}}</div>
        </div>
        <div class="row">
            <div class="mr-1" style="width: 15%; font-size: 16px">Overall</div>
            <div class="progress  mt-1" style="width: 70%; background-color: rgba(255, 255, 255, 0.1)">
                <div class="progress-bar bg-info" :style="{width: AwayTeam.Overall + '%'}"></div>
            </div>
            <div class="ml-1" style="font-size: 16px">{{AwayTeam.Overall}}</div>
        </div>
    </div>
</div>